header {
    color: #34495e;
    display: block;
    padding: 5px;
    text-align: center;
    font-size: 30px;
    text-shadow: 6px 17px 26px rgba(9, 81, 92, 0.8);
    font-weight: bold;
    background-color: transparent;
  }
  .date {
    text-align: center;
    font-size: small;
  }
  .container {
    color: #22313f;
    text-overflow: clip;
    font-size: 100%;
    background: linear-gradient(0deg,#e4f1fe 0%, #8dc6ff 100%);
    border: 3px double;
    border-radius: 26px;
    margin: 0 auto;
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .box {
    color: #34495e;
    text-overflow: clip;
    font-size: 100%;
    padding: 2%;
    border: 1px;
    border-width: 2px;
    border-radius: 3px;
  }
  